@use 'variables' as v;
@use 'base/mixins' as m;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: v.$font-family;
}
html{
    scroll-behavior: smooth;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('/src/img/pexels-kevin-ku-92347-577585.avif');

    @include m.desktop{
        background-image: url('/src/img/pexels-kevin-ku-92347-577585.avif');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

    }
}

a{
    text-decoration: none;
}

.contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
