@use 'variables' as v;
@use 'base/mixins' as m;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: v.$font-family;
}
html{
    scroll-behavior: smooth;
}

body {
    background-color: #1A1A1D;
}

a{
    text-decoration: none;
}

.contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}


