@use 'base/variables' as v;


.inicio .contenido .presentacion{
    max-width: 1100px;
    height: 120vh;
    margin: auto;
    color: v.$blanco;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inicio .contenido .presentacion .bienvenida{
    font-size: 3rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
}
.inicio .contenido .presentacion h2{
    font-size: 3rem;
    margin-bottom: 2.5rem;
    text-align: center;
}
.inicio .contenido .presentacion h2 span{
    font-size: 2.5rem;
    color: v.$color_principal;
}
.inicio .contenido .presentacion .descripcion{
    max-width: 70rem;
    margin: 2.5rem auto;
    font-size: 1.8rem;
    text-align: center;
}
.inicio .contenido .presentacion a{
    text-decoration: none;
    display: inline-block;
    margin: 2.5rem;
    padding: 2rem 2.5rem;
    border: 3px solid v.$blanco;
    border-radius: 5rem;
    color: v.$blanco;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}
.inicio .contenido .presentacion a:hover{
    background-color: v.$color_principal-dark;
}
.icono_nav{
    color: v.$blanco;
    display: none;
}





























//
//
//.inicio{
//    display: flex;
//    justify-content: space-between;
//    //padding: 1rem;
//    //grid-template-columns: repeat(2, 1fr);
//    padding: 5rem 15rem;
//    gap: 10rem;
//    background-color: v.$container_color;
//}
//
//.imagen{
//    width: 100%;
//    height: 25rem;
//    border-radius: 1rem;
//    object-fit: cover;
//    background-color: aqua;
//    padding-right: 2rem;
//    padding-top: 2.5rem;
//    //margin-inline: auto 2rem;
//    position: relative;
//    z-index: 10;
//}
//
// // margin-inline: auto 2rem;
////    position: relative;
////    z-index: 10;
////    vertical-align: middle;
//
//.inicio_sobremi{
//    //background-color: aqua;
//    
//}
//
//.inicio_pequeño{
//    font-size: v.$h3_font-size;
//    font-weight: v.$weight_600;
//    letter-spacing: 1px;
//}
//
//.inicio_titulo{
//    //background-color: aqua;
//    font-size: v.$big_font-size;
//    line-height: 3rem;
//    
//}
//
//.inicio_descripcion{
//    font-size: v.$h3_font-size;
//    font-weight: v.$weight_300;
//    line-height: 1.5;
//    //background-color: aqua;
//}
//
//.inicio_informacion{
//    //background-color: aqua;
//    font-size: v.$h3_font-size;
//    font-weight: v.$weight_300;
//}
//
//
//p{
//    padding: 0 0 2rem 0;
//    //background-color: aqua;
//}
//
//.inicio_botones{
//    display: flex;
//    gap: 2rem;
//    
//}
//
//.btn{
//    display: inline-block;
//    background-color: v.$color_principal;
//    border: 1px solid v.$color_principal;
//    color: v.$blanco;
//    padding: 0.9rem 2.5rem;
//    font-size: v.$large_font-size;
//    border-radius: .7rem;
//    transition: all 1s ease;
//    padding: 1rem 3rem;
//    cursor: pointer;
//    text-decoration: none;
//    font-weight: v.$weight_900;  
//}
//
//.btn_transparent{
//    background-color: transparent;
//    color: v.$color_principal;
//}
//.btn:hover{
//    background-color: v.$color_principal-dark;   
//}
//.btn_transparent:hover{
//    background-color: v.$color_principal;
//    color: v.$blanco;
//}
//
//
////.inicio_img::before,
////.inicio_img::after{
////    content: '';
////    position: absolute;
//    inset: 0;
//}
//    
//.inicio_img-wrapper,
//.inicio_img-wrapper::before{
//    background-color: v.$color_principal-light;
//    animation: animate__before 6s ease-in-out infinite;
//    
//}
//.inicio_img,
//.inicio_img-wrapper::after{
//    background-color: v.$color_principal-dark;
//    animation: animate__after 6s ease-in-out infinite;
//}
//
//@keyframes animate__before {
//    0%{
//        border-radius: 65% 35% 29% 71% / 55% 30% 70% 45%;
//    }
//    50%{
//        border-radius: 21% 79% 50% 50% / 21% 50% 50% 79%;
//    }
//    100%{
//        border-radius: 65% 35% 29% 71% / 55% 30% 70% 45%;
//    }
//    
//}
//
//@keyframes animate__after {
//    0%{
//        border-radius: 21% 79% 50% 50% / 21% 50% 50% 79%;
//    }
//    50%{
//        border-radius: 65% 35% 29% 71% / 55% 30% 70% 45%;
//    }
//    100%{
//        border-radius: 21% 79% 50% 50% / 21% 50% 50% 79%;
//    }
//    
//}
//
//
//
//
//