@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor_footer{
    background-color: v.$container_color;
    font-weight: v.$weight_600;
    color: v.$blanco;
    text-align: center;
    padding: 3rem 0;
    font-size: 2rem;
}
.contenedor_footer .redes a{
    color: v.$blanco;
    display: inline-block;
    margin: .5rem;
    font-size: 1.5rem;
}

.p_correo{
    font-size: 1.6rem;

    @include m.tablet{
        font-size: 20px;
    }

    @include m.telefono{
        font-size: 15px;
    }
}


