.ir-arriba {
    position: fixed;
    bottom: 50px; 
    right: 50px;
    background-color: #4CAF50; 
    color: white;
    border-radius: 20%;
    padding: 15px; 
    cursor: pointer;
    
    :hover{
        font-size: 2rem;
        transition: .5s;
    }
  }
  
  /* Mostrar el botón cuando se haya scrolleado una cierta distancia */
  .ir-arriba.mostrar {
    display: block;
  }