@use 'base/variables' as v;
@use 'base/mixins' as m;

.inicio{
    height:100vh;
    //background-color: aqua;

    //@include m.desktop{
    //    //display: flex;
    //    //font-size: 4rem;
    //}
    //@include m.tablet{
        //display: grid;
        //grid-template-columns: repeat(2, 1fr);
        //display: flex;
        //gap: 5rem;
        //font-size: 7rem;
    //}

    .presentacion{
        //background-color: aqua;
        color: v.$blanco;
        text-align: center;
        @include m.desktop{
            color: v.$blanco;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 5rem;

        }


        .bienvenida{
            font-size: 2rem;
            display: flex;
            justify-content: center;
            padding-top: 3rem;
            @include m.desktop{
                font-size: 3rem;
                margin-bottom: 2rem;
                text-transform: uppercase;
                letter-spacing: .5rem;
            }
        }

        h2{

            font-size: 1rem;
            display: flex;
            justify-content: center;
            padding-top: 4rem;
            @include m.desktop{
                margin-bottom: 2.5rem;
                text-align: center;
                color: v.$blanco;
                font-family: v.$font-family;
                font-size: 3rem;
            }
            span{
                font-size: 2.5rem;
                color: v.$color_principal;
                font-family: v.$font-family;
            }


        }
        .descripcion{
            font-size: 1.3rem;
            display: flex;
            justify-content: center;
            width: 95%;
            text-align: center;

            @include m.desktop{
            max-width: 70%;
            //margin: 2.5rem auto;
            font-size: 1.8rem;
            text-align: center;
            font-family: v.$font-family;
            }
        }

        a{
            text-decoration: none;
            display: inline-block;
            margin: 2.5rem;
            padding: 2rem 2.5rem;
            border: 3px solid v.$blanco;
            border-radius: 5rem;
            color: v.$blanco;
            font-weight: bold;
            text-transform: uppercase;
            transition: .5s;
            font-family: v.$font-family;

            &:hover{
                background-color: v.$color_principal-dark;
            }
        }

    } 
}