@use 'base/variables' as v;

.proyectos{
    padding: 2rem;
    //font-family: v.$font-family;
    padding-top: 3rem;
    margin: 9rem auto;
    max-width: 900px;
    border-radius: 8px; 
    background-color: v.$blanco;
    box-shadow: 0 0 100px rgba(255, 255, 255, 40);
}
.proyectos .titulo_seccion{
    padding-top: 1rem;
    text-align: center;
    font-family: v.$font-family;
}
.contenedor_proyectos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding-top: 2rem; 
    
    :hover{
        filter: grayscale(0);
    }
}
.proyecto img{
    text-align: center;  
    width: 400px;
    border-radius: 8px; 
    filter: grayscale(1);
    transition: .5s;
    cursor: pointer;
}
.proyecto .proyecto4{
    width: 400px;
    height: 267.18px;
}
.proyecto .info{
    padding-top: 1rem;
    text-align: center;
}
h4{
    font-family: v.$font-family;
}
p{
    padding-top: 1rem;
    font-family: v.$font-family;
}