@use 'base/variables' as v;

.proyectos{
    padding: 3rem;
    font-family: v.$fuente_principal;
}
.proyectos .titulo_seccion{
    text-align: center;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: #000;
    text-decoration: underline;
    text-decoration-color: v.$blanco;
    text-decoration-thickness: .5rem;
}
.proyectos .contenedor_proyectos{
    width: 800px;
    margin: 40px auto;
    text-align: center;
}
.proyectos .contenedor_proyectos .proyectos_arriba{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    gap: 3rem;
}
.proyectos .contenedor_proyectos .proyectos_abajo{
    display: flex;
    justify-content: space-around;
    width: 45%;
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem;
}



























//.proyectos .contenedor_proyectos{
//    display: grid;
//    grid-template-columns: repeat(2, 1fr);
//    gap: 2rem;
//    max-width: 80rem;
//    margin: 4rem auto;
//
//}
//.proyectos .proyecto{
//    width: 100%;
//    height: 200px;
//    object-fit: cover;
//    border-radius: 1rem;
//
//}































//.proyectos{
//    max-width: 1100px;
//    padding: 100px 0;
//    margin: auto;
//}
//.titulo_seccion{
//    text-align: center;
//    font-size: 2.2rem;
//    text-transform: uppercase;
//    color: #111135;
//    text-decoration: underline;
//    text-decoration-color: v.$blanco;
//    text-decoration-thickness: 5px;
//}
//.proyectos .fila{
//    display: flex;
//    justify-content: space-between;
//    margin: 3rem 0;
//}
//.proyectos .fila .proyecto{
//    max-width: 45rem;
//    border: 1px solid #000;
//    margin: 0 1rem;
//    position: relative;
//    overflow: hidden;
//}
//.proyectos .fila .proyecto img{
//    width: 100%;
//    height: 100%;
//    filter: grayscale(1);
//    object-fit: cover;
//    transition: .5s;
//}
//.proyectos .fila .proyecto:hover img{
//    filter: grayscale(0);
//}
//.proyectos .fila .proyecto .info{
//    position: absolute;
//    left: 0;
//    background-color: rgba(0, 0, 0, .8);
//    color: red;
//    padding: 1rem;
//    opacity: 0;
//    bottom: -40px;
//    transition: .5s;
//}
//.proyectos .fila .proyecto:hover .info{
//    opacity: 1;
//    bottom: 0;
//}