@use 'base/variables' as v;

.sobremi{
    max-width: 100%;
    padding: 5rem 5rem;
    color: v.$container_color;
    display: flex;
    margin: 0 4rem;
    
}

.sobremi .contenedor_foto{
    max-width: 40rem;
    margin-right: 1rem;
    padding-top: 4rem;
}
.sobremi .contenedor_foto img{
    padding: 2rem;
    width: 60%;
    border-radius: 2rem;
    background-color: v.$border_color;
}

//.sobremi_container{
//    margin: 0 40px;
//    margin-right: 10rem;
//    //width: 200rem;
//    max-width: 30rem;
//}
#sobremi .sobremi_container .titulo_seccion{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: v.$container_color;
    text-decoration: underline;
    text-decoration-color:v.$text_color;
    text-decoration-thickness: 5px ;
    margin: 3rem 0 3rem 0;
}
#sobremi .sobremi_container h2{
    font-size: 3rem;
    font-weight: bold;
    margin: 2rem 0;
    letter-spacing: 2px;
}
#sobremi .sobremi_container h2 span{
    color: v.$color_principal-dark;
   
}
.sobremi_container h3{
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 3rem;
    letter-spacing: 4px;

}
.sobremi_container p{
    font-size: v.$larger_font-size;
    line-height: 2rem;
    color: v.$border_color;
    margin-bottom: 1.2rem;
}
.sobremi_container a{
    display: inline-block;
    text-decoration: none;
    color: v.$container_color;
    border-radius: 3rem;
    padding: 1rem 2rem;
    border: 2px solid #000;
    margin-top: 3rem;
    transition: .5s;
}
.sobremi_container a:hover{
    background-color: v.$color_principal-dark;
    color: v.$blanco;
}
//quiero que contenedor foto y sobremi_container estes mas juntos

