@use 'base/variables' as v;
@use 'base/mixins' as m;

//USAR ROW-GAP CUANDO HAYA UN FLEX-DIRECTION: COLUMN;

.tecnologias{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: v.$blanco;
    min-height: 100vh; 
    max-width: 900px;
    width: 95%;
    overflow: hidden;
    padding: 5rem 5rem;
    margin: 7rem auto;
    border-radius: 8px;
    box-shadow: 0 0 100px v.$color_principal-dark;

    @include m.tablet{
        max-width: 600px;
        width: 95%;
    }

    @include m.telefono{
        max-width: 400px;
        width: 95%;        
    }
}

.content{
    display: flex;
    gap: 5rem;
    align-items: center;
    background: linear-gradient(180deg, rgba(2, 2, 2, 0.3) 0%, rgba(255,255,255,0) 100%);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    width: 750px;
    box-shadow: 0 0.5px 0 1px rgba(255,255,255, 0.2) inset, 0 1px 0 0 rgba(255,255,255, 0.65) inset, 04px 16px rgba(0,0,0, 0.1);
    z-index: 10;  
    padding: 3rem;
    
    @include m.tablet{
        display: flex;
        flex-direction: column;
        max-width: 600px;
        align-items: center;
        padding: 0;
        padding-bottom: 1rem;      
        width: 95%;
    }

    @include m.telefono{
        width: 400px;
        max-width: 450px;
    }

    .info{
        align-items: center;
        justify-content: center;
        text-align: center;
        
        @include m.tablet{
           margin: 3rem 0 0 0;          
        }

        @include m.telefono{
            max-width: 90%;
        }
        
        .h2{
            margin-bottom: 3rem;

            @include m.tablet{
                margin: 0;
                padding-bottom: 3rem;
            }

            @include m.telefono{
                margin: 0;
            }
        }

        p{
            color: v.$container_color;
            font-weight: 500;
            font-size: 1.25rem;
            line-height: 1.5;
            width: 300px;
            text-align: justify;

            @include m.telefono{
                text-align: center;
                width: 95%;
                font-size: 1rem;
                margin-left: .4rem;
            }
        }
    }
}

.swiper{
    width: 200px;
    height: 40px;
    padding: 50px 0;

    @include m.telefono{
        max-width: 10rem;
        margin-left: 1.5rem;
    }
}
.swiper-slide{
    position: relative;
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 10px;
}
.swiper-slide h2{
    position: relative;
    bottom: 0;
    left: 0;
    padding-top: 40px;
    text-align: center;
    color: v.$blanco;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.4;
}
.swiper-slide:nth-child(1n){
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url(/src/img/iconos/front/front.avif) no-repeat 50% 50% / cover;
}
.swiper-slide:nth-child(2n){
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url(/src/img/iconos/back/back.avif) no-repeat 50% 50% / cover;
}
.swiper-slide:nth-child(3n){
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url(/src/img/iconos/herramientas/herramientas.avif) no-repeat 50% 50% / cover;
}
